Firmware/modules/gsoap/gsoap/samples/autotest/databinding/examples/6/09/GlobalElementComplexTypeSequenceExtension/echoGlobalElementComplexTypeSequenceExtension-GlobalElementComplexTypeSequenceExtension01-soap11.xml
Firmware/modules/gsoap/gsoap/samples/autotest/databinding/examples/6/09/GlobalElementComplexTypeSequenceExtension/echoGlobalElementComplexTypeSequenceExtension-GlobalElementComplexTypeSequenceExtension01-soap12.xml
